<a href="https://colab.research.google.com/github/souravlouha/All_ML_session/blob/main/Assignment_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Creation & Indexing:
○ Create a list of five different fruits. Print the second and last fruit from the list.

In [1]:
# Creating a list of fruits
fruits = ['apple', 'banana', 'orange', 'grape', 'mango']

In [2]:
# Printing the second and last fruit
print(fruits[1])  # Second fruit (index 1)
print(fruits[-1])  # Last fruit (index -1)

banana
mango

#List Slicing:
○ Given the list numbers = [10, 20, 30, 40, 50, 60, 70, 80], print the sublist containing elements from index 2 to 5 (inclusive).

In [3]:
# Given list of numbers
numbers = [10, 20, 30, 40, 50, 60, 70, 80]

In [4]:
# Printing the sublist from index 2 to 5 (inclusive)
sublist = numbers[2:6]
print(sublist)

[30, 40, 50, 60]

# List Modification:
○ Given the list colors = ["red", "green", "blue", "yellow"], replace "green" with "black" and add "white" at the end of the list.

In [5]:
# Given list of colors
colors = ["red", "green", "blue", "yellow"]

In [6]:
# Replace "green" with "black"
colors[1] = "black"

# Add "white" at the end of the list
colors.append("white")

In [7]:
# Printing the modified list
print(colors)

['red', 'black', 'blue', 'yellow', 'white']

# List Methods (Append, Insert, Remove, Pop):
○ Create an empty list and perform the following operations: a) Append "Python" and "Java" to the list. b) Insert "C++" at the beginning. c) Remove "Java". d) Pop the last element and print the list.

In [8]:
# Create an empty list
languages = []

In [9]:
# a) Append "Python" and "Java" to the list
languages.append("Python")
languages.append("Java")

In [10]:
print(languages)

['Python', 'Java']

In [11]:
# b) Insert "C++" at the beginning
languages.insert(0, "C++")

In [12]:
print(languages)

['C++', 'Python', 'Java']

In [13]:
# c) Remove "Java"
languages.remove("Java")

In [14]:
print(languages)

['C++', 'Python']

In [15]:
# d) Pop the last element and print the list
languages.pop()

'Python'

In [16]:
# Print the final list
print(languages)

['C++']

# List Iteration:
○ Write a Python program to iterate over a list of numbers and print the square of each number.

In [17]:
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Iterating over the list and printing the square of each number
for number in numbers:
    print(number ** 2)

1
4
9
16
25

# List Comprehension:
○ Write a one-liner list comprehension to generate a list of squares of even numbers from 1 to 20.

In [18]:
squares_of_even_numbers = [x ** 2 for x in range(1, 21) if x % 2 == 0]
print(squares_of_even_numbers)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

# List Sorting & Reversing:
○ Given a list of integers [34, 12, 89, 45, 67, 23, 78], sort the list in ascending order and then reverse it.

In [19]:
# Given list of integers
numbers = [34, 12, 89, 45, 67, 23, 78]

# Sort the list in ascending order
numbers.sort()

# Reverse the list
numbers.reverse()

# Print the sorted and reversed list
print(numbers)

[89, 78, 67, 45, 34, 23, 12]

# Finding Max, Min & Sum in a List:
○ Write a program that takes a list of numbers and prints the maximum, minimum, and sum of all numbers.

In [20]:
# Given list of numbers
numbers = [34, 12, 89, 45, 67, 23, 78]

In [22]:
# Finding the maximum, minimum, and sum
max_num = max(numbers)
min_num = min(numbers)
total_sum = sum(numbers)

In [23]:
# Printing the results
print("Maximum:", max_num)
print("Minimum:", min_num)
print("Sum:", total_sum)

Maximum: 89
Minimum: 12
Sum: 348

# Removing Duplicates from a List:
○ Given a list with duplicate elements [1, 2, 2, 3, 4, 4, 5, 6, 6], write a Python program to remove duplicates and return a list with unique elements (without using set).

In [27]:
# Given list with duplicates
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Create an empty list to store unique elements
unique_numbers = []

# Iterate through the original list and add elements to the new list if not already present
for number in numbers:
    if number not in unique_numbers:
        unique_numbers.append(number)

# Print the list with unique elements
print(unique_numbers)

[1, 2, 3, 4, 5, 6]

# Merging and Sorting Two Lists:
Given two sorted lists: list1 = [10, 20, 30, 40]
list2 = [15, 25, 35, 45]
● Merge them into a single sorted list without using the sorted() function.

In [28]:
# Given sorted lists
list1 = [10, 20, 30, 40]
list2 = [15, 25, 35, 45]

# Merging the two lists
merged_list = []
i, j = 0, 0

# Traverse both lists and merge them in sorted order
while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
        merged_list.append(list1[i])
        i += 1
    else:
        merged_list.append(list2[j])
        j += 1

# Append remaining elements from list1 or list2
merged_list.extend(list1[i:])
merged_list.extend(list2[j:])

# Print the merged sorted list
print(merged_list)

[10, 15, 20, 25, 30, 35, 40, 45]